<div  class="container-fluid" style="min-height: calc(100vh - 306px);margin-top: 2%;">

  <div  class="container">
      <div  style="transition: opacity 500ms ease-in-out; opacity: 1;min-height: calc(100vh - 400px);">

          <div  class="PatientOrderDetails">
              <div  class="row">
                  <a  class="btn-link" href="">
                      <i  aria-hidden="true" class="fa fa-arrow-left"></i>Pharmacy Dashboard
                  </a>
              </div>
              <div  class="row">
                  <a  class="btn-link" href="">
                      <i  aria-hidden="true" class="fa fa-arrow-left"></i>List of Orders
                  </a>
              </div>
              <br >
              <br >


              <div class="row " style="margin-bottom: 5px">
                  <div  class="col-md-6 text-left">
                      <h2 >Order Details                                                                                                                                                                                                                                                                                                                                                                                                 </h2>
                  </div>
                  <div  class="col-md-6 text-right">
                      <button  class="btn btn-sm btn-success btn-sm" tabindex="0">
                          <i  aria-hidden="true" class="fa fa-comments"></i>
                      </button>
                      <button  class="btn btn-sm btn-warning btn-sm text-right">
                          <i  aria-hidden="true" class="fa fa-file-pdf-o"></i> PDF
                      </button>
                  </div>
                  <br >
                  <br >
              </div>

              <div  class="row">
                  <div  class="PharmacyOrderDetails-info" style="width: 100%;">
                      <div  class="OrderDetails-client" style="padding-top: 2%;">
                          <div  class="row OrderDetails-client-section" style="padding-left: 5%;">
                              <div class="col-md-6">
                                  <div  class="d-flex flex-column">
                                      <h3 >Pet Owner &amp; Patient</h3>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">
                                              Pet Owner:
                                          </b>
                                          <b class="resStyle">john client</b>
                                          <br>
                                      </div>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">
                                              Patient:
                                          </b>
                                          <b class="resStyle">Fido</b>
                                      </div>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">Species:</b>
                                          <b class="resStyle"> CANINE</b>
                                      </div>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">Breed:</b>
                                          <b class="resStyle">RETRIEVER/LABRADOR</b>
                                      </div>

                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">Weight:</b>
                                         <div >
                                            <b class="resStyle">45.00 pounds</b>
                                          </div>

                                      </div>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">
                                              Pet Owner Email:
                                          </b>
                                          <b class="resStyle"> johnclient@v-scribe.com
                                          </b>
                                      </div>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">Pet Owner Phone Number: </b>
                                          <b class="resStyle">(132) 132-1321</b>
                                      </div>

                                      <div  class="d-flex">
                                          <b style="margin-right: 5px">
                                              Shipping Method:
                                          </b>
                                          <b class="resStyle"> Standard shipping</b>
                                      </div>

                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">
                                              Order Date:
                                          </b>
                                          <b class="resStyle">06-21-2020 10:59 pm</b>
                                      </div>

                                  </div>
                              </div>
                              <div  class="col-md-6">
                                  <h3 >Veterinarian</h3>
                                  <div class="d-flex">
                                      <b style="margin-right: 5px">
                                          Practice:
                                      </b>
                                      <b class="resStyle"> v-scribe</b>
                                  </div>
                                  <div  class="d-flex">
                                      <b  style="margin-right: 5px">
                                          Veterinarian:
                                      </b>
                                      <b class="resStyle">Claire Wolfe</b>
                                  </div>

                                  <div  class="d-flex flex-column">
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">Direct Line: </b>
                                          <b class="resStyle">(814) 867-5557</b>
                                      </div>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">Practice Number: </b>
                                          <b class="resStyle">(859) 281-9511</b>
                                      </div>
                                      <div  class="d-flex">
                                          <b  style="margin-right: 5px">Veterinarian Mobile Phone Number:
                                          </b>

                                          <b class="resStyle"><span>(814) 867-5557</span></b>

                                      </div>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <hr>
                          <br>
                          <div  class="row OrderDetails-client-section" style="padding-left: 5%;">
                              <div  class="col-md-3">
                                  <b >
                                      Shipping Address
                                  </b>
                                  <br>
                                  <p>
                                  <b class="resStyle">

                                    145 Happy Drive


                                      <br>  Flourtown, PA 19002
                                      <br>

                                      </b>
                                      </p>

                              </div>

                              <div  class="col-md-3" style="margin-left: 25%;" >
                                  <b >
                                      Payment Status
                                  </b>
                                  <br>

                                  <br>

                                 <div  class="bg-success"  >
                                      <p  class="align-right" style="padding-left:30%;color: white;">
                                          Paid
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <br>
                          <hr>

                         <div class="row OrderDetails-client-section" style="padding-left: 5%;">
                              <div  class="form-group-lg  col-md-5">
                                  <label  class="control-label">Status</label>

                                  <select  class="form-control form-control-sm ng-pristine ng-valid ng-touched" id="selec" name="Status">
                                      <option  value="0">New Order </option>
                                      <option  value="3">In Process </option>
                                      <option   value="8">Order Filled</option>
                                      <option  value="1">Shipped </option>
                                      <option  value="9">Incomplete</option>
                                      <option  value="10">Canceled</option>
                                      <option  value="12">Pick Up</option>
                                      <option  value="13">Local Delivery</option>
                                      <option  value="14">Doctor Delivery</option>
                                      <option  value="15">Awaiting payment in pharmacy</option>
                                  </select>
                              </div>
                              <div  class="form-group-lg col-md-5">
                                  <label  class="control-label">Tracking Number</label>
                                  <input  class="form-control form-control-sm ng-untouched ng-pristine" name="TrackingNumber" placeholder="" required="" type="text" disabled="">

                              </div>

                              <div  class="col-md-2" style="padding-top:0.6%">
                                  <button  class="btn btn-sm btn-primary btn-lg mt-lg-4"style="background-color:#4056A1;width:100px;">
                                      Update
                                  </button>
                              </div>
                          </div>

                          <br>
                          <hr>
                          <hr>

                          <div>


                              <div class="row" style="padding-left: 5%;">
                                  <div  class="col-md-4 text-danger">
                                      <b>
                                          Under Work By:

                                      </b> Jake Browns
                                      <br>
                                  </div>
                                  <div class="col-md-6 text-danger" style="margin-left: 15%;">
                                      <span >
                                          <b>
                                              Pharmacist email:
                                          </b>
                                          jake@hagyard.com
                                      </span>
                                      <br>
                                      <br>

                                  </div>
                                  <div class="col-md-2">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div _ngcontent-c12="" class="table-responsive" style="margin-bottom: 0px; margin-top: 10px;">
                          <table _ngcontent-c12="" class="Order table">
                              <thead _ngcontent-c12="">
                                  <tr _ngcontent-c12="" id="tr_head-item">
                                      <td _ngcontent-c12="" colspan="20">
                                          <h5 _ngcontent-c12="">
                                              <span _ngcontent-c12="" class="number">
                                                  Order # 361
                                              </span>


                                          </h5>
                                      </td>
                                  </tr>
                                  <tr _ngcontent-c12="" id="tr_head-item">
                                      <td _ngcontent-c12="" width="200">Product</td>
                                      <td _ngcontent-c12="" width="70">Qty</td>
                                      <td _ngcontent-c12="" width="86">Type</td>
                                      <td _ngcontent-c12="" width="100">Form</td>
                                      <td _ngcontent-c12="" width="50">Flavor</td>
                                      <td _ngcontent-c12="" width="120">Strength</td>
                                      <td _ngcontent-c12="" width="90">Size</td>
                                      <td _ngcontent-c12="" width="90">Refills</td>
                                      <td _ngcontent-c12="" width="130">Expires</td>
                                      <td _ngcontent-c12="" width="100">Auto Refill</td>
                                      <td _ngcontent-c12="" width="110">Unit Price</td>
                                  </tr>
                              </thead>
                              <!----><tbody _ngcontent-c12="" class="OrderContents">
                                  <!---->
                                  <!----><tr _ngcontent-c12="" id="tr_order_detail">
                                      <!---->
                                          <td _ngcontent-c12="">
                                              <strong _ngcontent-c12="">999 CLEANER</strong>
                                          </td>
                                          <td _ngcontent-c12="">1</td>
                                          <!----><td _ngcontent-c12="">OTC</td>
                                          <!---->
                                          <!----><td _ngcontent-c12="">LIQUID</td>
                                          <!---->
                                          <!---->
                                          <!----><td _ngcontent-c12="">N/A</td>
                                          <!----><td _ngcontent-c12="">CLEANER AND DEGREASER</td>
                                          <!---->
                                          <!---->
                                              <td _ngcontent-c12="">1 GALLON</td>


                                          <!---->
                                          <!---->




                                      <!---->
                                      <!---->


                                      <td _ngcontent-c12="">
                                          0
                                      </td>
                                      <td _ngcontent-c12="">
                                          06-22-2021
                                      </td>
                                      <td _ngcontent-c12="">
                                          <div _ngcontent-c12="" class="form-group-lg  undefined">
                                              <input _ngcontent-c12="" checked="" disabled="" name="autorefill" type="checkbox" class="ng-untouched ng-pristine">
                                          </div>
                                      </td>
                                      <!---->
                                          <td _ngcontent-c12="">
                                              <p _ngcontent-c12="">$48.60</p>
                                          </td>

                                      <!---->
                                      <!---->

                                  </tr>
                                  <tr _ngcontent-c12="" id="tr_direction" style="border-bottom: 2px">

                                      <!----><td _ngcontent-c12="" colspan="20">
                                          <p _ngcontent-c12=""><b _ngcontent-c12="">Directions :</b> test jb</p>
                                      </td>
                                  </tr>
                                  <!---->
                              </tbody><tbody _ngcontent-c12="" class="OrderContents">
                                  <!---->
                                  <!----><tr _ngcontent-c12="" id="tr_order_detail">
                                      <!---->
                                          <td _ngcontent-c12="">
                                              <strong _ngcontent-c12="">ABSORBENT BLUE LOTION</strong>
                                          </td>
                                          <td _ngcontent-c12="">1</td>
                                          <!----><td _ngcontent-c12="">OTC</td>
                                          <!---->
                                          <!----><td _ngcontent-c12="">LINIMENT</td>
                                          <!---->
                                          <!---->
                                          <!----><td _ngcontent-c12="">N/A</td>
                                          <!----><td _ngcontent-c12="">ABSORBENT BLUE LOTION</td>
                                          <!---->
                                          <!---->
                                              <td _ngcontent-c12="">32 FL OZ</td>


                                          <!---->
                                          <!---->




                                      <!---->
                                      <!---->


                                      <td _ngcontent-c12="">
                                          0
                                      </td>
                                      <td _ngcontent-c12="">
                                          06-22-2021
                                      </td>
                                      <td _ngcontent-c12="">
                                          <div _ngcontent-c12="" class="form-group-lg  undefined">
                                              <input _ngcontent-c12="" checked="" disabled="" name="autorefill" type="checkbox" class="ng-untouched ng-pristine">
                                          </div>
                                      </td>
                                      <!---->
                                          <td _ngcontent-c12="">
                                              <p _ngcontent-c12="">$18.34</p>
                                          </td>

                                      <!---->
                                      <!---->

                                  </tr>
                                  <tr _ngcontent-c12="" id="tr_direction" style="border-bottom: 2px">

                                      <!----><td _ngcontent-c12="" colspan="20">
                                          <p _ngcontent-c12=""><b _ngcontent-c12="">Directions :</b> test jb</p>
                                      </td>
                                  </tr>
                                  <!---->
                              </tbody><tbody _ngcontent-c12="" class="OrderContents">
                                  <!---->
                                  <!----><tr _ngcontent-c12="" id="tr_order_detail">
                                      <!---->
                                          <td _ngcontent-c12="">
                                              <strong _ngcontent-c12="">ACEPROMAZINE MALEATE&nbsp;</strong>
                                          </td>
                                          <td _ngcontent-c12="">1</td>
                                          <!----><td _ngcontent-c12="">COMPOUND</td>
                                          <!---->
                                          <!----><td _ngcontent-c12="">ORAL SUSPENSION</td>
                                          <!---->
                                          <!---->
                                          <!----><td _ngcontent-c12="">N/A</td>
                                          <!----><td _ngcontent-c12="">25 MG/ML</td>
                                          <!---->
                                          <!---->
                                              <td _ngcontent-c12="">PER ML</td>


                                          <!---->
                                          <!---->




                                      <!---->
                                      <!---->


                                      <td _ngcontent-c12="">
                                          0
                                      </td>
                                      <td _ngcontent-c12="">
                                          06-22-2021
                                      </td>
                                      <td _ngcontent-c12="">
                                          <div _ngcontent-c12="" class="form-group-lg  undefined">
                                              <input _ngcontent-c12="" checked="" disabled="" name="autorefill" type="checkbox" class="ng-untouched ng-pristine">
                                          </div>
                                      </td>
                                      <!---->
                                          <td _ngcontent-c12="">
                                              <p _ngcontent-c12="">$0.23</p>
                                          </td>

                                      <!---->
                                      <!---->

                                  </tr>
                                  <tr _ngcontent-c12="" id="tr_direction" style="border-bottom: 2px">

                                      <!----><td _ngcontent-c12="" colspan="20">
                                          <p _ngcontent-c12=""><b _ngcontent-c12="">Directions :</b> test jb</p>
                                      </td>
                                  </tr>
                                  <!---->
                              </tbody>
                              <tbody _ngcontent-c12="">
                                  <tr _ngcontent-c12="" id="tr_prices">
                                      <td _ngcontent-c12="" colspan="7"></td>
                                      <td _ngcontent-c12="" colspan="3">
                                          <!----><div _ngcontent-c12="" class="card">
                                              <div _ngcontent-c12="" class="card-body">
                                                  <div _ngcontent-c12="" class="row">
                                                      <div _ngcontent-c12="" class="col-md-8">
                                                          <span _ngcontent-c12="">
                                                              <b _ngcontent-c12="">Initial Price:</b>
                                                          </span>
                                                          <br _ngcontent-c12="">
                                                          <span _ngcontent-c12="">
                                                              <b _ngcontent-c12="">Shipping Amount:</b>
                                                          </span>
                                                      </div>
                                                      <div _ngcontent-c12="" class="col-md-4">
                                                          <span _ngcontent-c12="" class="pull-right">
                                                              $67.17
                                                          </span>
                                                          <br _ngcontent-c12="">
                                                          <span _ngcontent-c12="" class="pull-right">
                                                              $10.00
                                                          </span>
                                                      </div>
                                                  </div>
                                                  <div _ngcontent-c12="" class="row" style="border-top: 1px dashed;margin-top: 5%;padding-top: 3%">
                                                      <div _ngcontent-c12="" class="col-md-6">
                                                          <b _ngcontent-c12="">Total Price:</b>
                                                      </div>
                                                      <div _ngcontent-c12="" class="col-md-6">
                                                          <span _ngcontent-c12="" class="pull-right">
                                                              $77.17
                                                          </span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </td>

                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
