
.btn-block{
  display: block;
  text-align: left;
}
  a{
  color: #123C69;
  background-color: transparent;
  text-decoration: none;

  }


  h3{
  font-family: Quicksand, sans-serif !important;
    font-weight: 700 !important;
    font-size: 1.75rem;
    color: #123C69;
    background-color: transparent;
    text-decoration: none;
    text-align: left;
  }

  .row{
    text-align: left;

  }

  label{
    color: #123C69;
  }

  .table{
    margin-top: 30px;
    width: 90%;
    margin-bottom: 1rem;
    background-color: transparent;


  }
  tr{
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
  }
  .table thead th {

    vertical-align: bottom;
    background-color: #F4F4F4;
  }

  th{
    text-align: inherit;
    color: #123C69;
    font-size: 15px;

  }

  .bntedit{
    border: 2px solid #123C69;
    color: #123C69;
  }
