<nav class="mb-4 navbar navbar-expand-lg navbar-dark indigo"style="background-color:rgb(148, 25, 3); background-size: cover;margin-left:-50px">
  <!-- <img src="assets/img/navbar1.png" style="height: 50px;margin-left: 25px;"/>-->
   <a class="navbar-brand font-bold" href="#"></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

       <ul class="navbar-nav ml-auto">
         <a class="navbar-brand font-bold" href="#"><small>do you need help!!<small>5563585</small></small></a>   <!--  </a>  <span class="badge badge-info" style="background-color :red;">11</span>
          <i class="fa fa-bell"></i>-->
               <li class="nav-item dropdown" id='notification'>
                 <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white"> <i class="fa fa-bell" style="color:white"> </i>
                   <span class="badge badge-info" style="background-color :red;">11</span>  </a>

                 <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                     <a class="dropdown-item" href="#"> </a>
                 </div>

             </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white"> <i class="fa fa-envelope" style="color:white"> </i>
                <span class="badge badge-info" style="background-color :red; margin-left: 0.1cm;">11</span>  </a>

              <div style="overflow: auto;height:auto;"  class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                  <a class="dropdown-item" href="#">test 1 </a>
                  <a class="dropdown-item"  href="#">test2 </a>
              </div>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="color:white" ><i class="fa fa-user" style="color:white"></i> Profile </a>
               <div style="height:auto" class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                   <a class="dropdown-item" routerLink='/profil'>My Account</a>
                   <a class="dropdown-item"  href="login" >Sign Out</a>
               </div>
           </li>
       </ul>
   </div>
</nav>
