<!-- Description -->
<div class="cards-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="h2-heading">
          Your Trusted Veterinary Partner Grow Your Pharmacy
        </h2>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img
              class="img-fluid"
              src="../assets/images/undraw_pay_online_b1hk.svg"
              alt="alternative"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">Increase Pharmacy Revenue</h4>
            <p>
              Higher prescription capture, including refills
            </p>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img
              class="img-fluid"
              src="../assets/images/undraw_finance_0bdk.svg"
              alt="alternative"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">Enhance Efficiency</h4>
            <p>
              Save time and money ordering and following-up on client
              prescriptions
            </p>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <div class="card-image">
            <img
              class="img-fluid"
              src="../assets/images/undraw_online_payments_luau.svg"
              alt="alternative"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">Improve Electronic Prescribing</h4>
            <p>
              Practice management software integrated, easy to use, digital
              prescribing platform
            </p>
          </div>
        </div>
        <!-- end of card -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of cards-1 -->
<!-- end of description -->

<!-- Features -->
<div id="features" class="tabs">
  <div class="container">
    <div class="row">
      <div class="col-md-8 float-left">
        <div class="above-heading"></div>
        <h2 class="h2-heading">Its Never Been Easier</h2>
        <p class="p-heading">
          More then just a digital prescribing platform. Let us show you how to
          expand your pharmacy program.
        </p>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-image">
            <img
              class="img-fluid"
              src="../assets/images/undraw_good_doggy_4wfq.svg"
              alt="alternative"
            />
          </div>
        </div>
        <!-- end of col -->
      </div>

      <div id="pricing" class="cards-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="above-heading"></div>
              <h2 class="h2-heading">Improve Practice Performance</h2>
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
          <div class="row">
            <div class="col-lg-12">
              <!-- Card-->
              <div class="card" style="height:89%" >
                <div class="card-body">
                  <div class="card-title">Improve Patient</div>
                  <div class="price">
                    <span class="value text-nowrap">Outcomes</span>
                  </div>

                  <div class="divider"></div>
                  <p>
                    Improve patient medication while increasing your
                    prescription revenue
                    <br>
                    <br>
                  </p>
                </div>
              </div>
              <!-- end of card -->
              <!-- end of card -->

              <!-- Card-->
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Devoted Satisfied</div>
                  <div class="price"><span class="value">Clients</span></div>

                  <div class="divider"></div>
                  <p>
                    Medications, including compounds, delivered to your practice
                    or your client's home
                    <br>
                    <br>
                    <br>
                  </p>
                </div>
              </div>
              <!-- end of card -->
              <!-- end of card -->

              <!-- Card-->
              <div class="card">
                <!--<div class="label">
                      <p class="best-value">Best Value</p>
                  </div> -->
                <div class="card-body">
                  <div class="card-title">Save time and</div>
                  <div class="price">
                    <span class="value">Money</span>
                  </div>

                  <div class="divider"></div>
                  <p>
                    The national average cost per minute of all hospital staff
                    was $0.43/minute. Save time and money previously spent
                    ordering prescriptions and following-up
                  </p>
                </div>
              </div>
              <!-- end of card -->
              <!-- end of card -->
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of container -->
      </div>


    </div>
  </div>
</div>
