<div  style="transition: opacity 500ms ease-in-out 0s; opacity: 1;">

  <div  style="min-height: calc(100vh - 306px); padding-top: 38px;
        padding-left: 10%;
        padding-right: 10%;">
      <div  class="PharmacySettings">

          <div  class="ClientSettings">
              <div  class="Settings-EditableSection">
                <a href="#" class="btn-block">
                  <i aria-hidden="true" class="fa fa-arrow-left" ></i>
                  Dashboard
                </a>
                <h3 >My Account</h3>



                  <div  class="text-left p-1 mb-1" style="background-color: #F4F4F4;">
                      <h5  style="color: #123C69;">Pharmacy Profile
                      </h5>
                  </div>
                  <div class="row" style="margin-left: 200px;">

                      <div  class="col-md-7">
                          <div >
                              <br>

                              <div  class="row ml-0">
                                <div  class="col_md-6 pr-1">
                                  <b style="color:#123C69;text-align: center ;"> Pharmacy Name:</b>
                                </div>
                                  <div  class="col_md-6" style="text-align: justify;color:#123C69;">Hagyard Pharmacy

                                    </div>

                            </div>
                              <div  class="row ml-0">
                                  <div  class="col_md-6 pr-1">
                                    <b style="color:#123C69;text-align: center ;"> Address:</b>
                                  </div>
                                    <div  class="col_md-6" style="text-align: justify;color:#123C69;">4250 Iron Works Pike
                                          <br  style="color:#123C69;text-align: left ;"> test adress
                                          <br  style="color:#123C69;text-align: left ;"> Lexington, KY 40511-4812
                                      </div>

                              </div>

                              <div  class="row ml-0">
                                <div  class="col_md-6 pr-1">
                                  <b style="color:#123C69;text-align: center ;"> Phone:</b>
                                </div>
                                  <div  class="col_md-6" style="text-align: justify;color:#123C69;">(859) 281-9511
                                  </div>

                            </div>


                            <div  class="row ml-0">
                              <div  class="col_md-6 pr-1">
                                <b style="color:#123C69;text-align: center ;"> Email:</b>
                              </div>
                                <div  class="col_md-6" style="text-align: justify;color:#123C69;">@hagyard.com
                                </div>

                          </div>



                          </div>
                      </div>
                  </div>

<!--*********************************************My Profile***************************************************-->
                        <div  class="text-left p-1 mb-2 mt-2" style="background-color: #F4F4F4;">
                            <h5 style="color: #123C69;">My Profile
                            </h5>
                        </div>
                <!--****************My Profil Content*****************-->
                  <div  class="row">
                      <div class="col-md-2">
                      </div>
                      <div  class="col-md-7"  >
                          <div  [hidden]="!show">
                              <div  class="d-flex">
                                  <div >
                                      <img style="width: 100px;" class="avatar" src="http://51.81.224.130:9000/uploads/avatars/phar5ed10716931f2.jpg">
                                  </div>
                                  <p _ngcontent-c8="" class="align-self-center pl-1" style="color:#123C69;">
                                      Browns Jake
                                  </p>
                              </div>
                              <br>
                              <div  class="row ml-0">
                                <div  class="col_md-6 pr-1">
                                  <b style="color:#123C69;text-align: center ;"> Address:</b>
                                </div>
                                  <div  class="col_md-6" style="text-align: justify;color:#123C69;">4250 Iron Works Pike
                                        <br  style="color:#123C69;text-align: left ;"> test adress
                                        <br  style="color:#123C69;text-align: left ;"> Lexington, KY 40511-4812
                                    </div>

                            </div>
                              <div  class="row ml-0">
                                <div  class="col_md-6 pr-1"> <b _ngcontent-c8=""style="color:#123C69;"> Phone: </b></div>
                                <div  class="col_md-6" style="text-align: justify;color:#123C69;">(675) 656-5545
                                </div>
                            </div>
                            <br>

                            <div  class="row ml-0">
                              <div  class="col_md-6 pr-1"> <b _ngcontent-c8=""style="color:#123C69;">Email Address: </b></div>
                              <div  class="col_md-6" style="text-align: justify;color:#123C69;">jake@hagyard.com
                              </div>
                            </div>
                            <br>

                            <div class="row" style="margin-top: 30px;">
                              <div  class="col-md-2">
                                  <h5 style="color: #123C69;text-align: left;">Password</h5>
                              </div>
                              <div  class="col-md-7">
                                <div [hidden]="!show">
                                  <input  class="form-control form-control-sm ng-untouched ng-pristine" disabled="" name="Password" placeholder="***************" type="password" style="width:287px">
                                </div>
                              </div>

                          </div>
                        </div>


                          <form [hidden]="show" >
                            <div  class="AvatarForm" >
                                <div>
                                    <img class="avatar" style="width: 100px;margin-left: -500px;" src="http://51.81.224.130:9000/uploads/avatars/phar5ed10716931f2.jpg">
                                </div>

                                <div  class="upload" style="padding-top: 10px;">
                                    <div  class="upload-btn-wrapper">
                                        <button  class="btn btn-sm btn-info" style="color:rgb(246, 247, 248);background-color: #123C69; margin-left:-420px;margin-top: 15px;width: 180px;">CHANGE PHOTO</button>
                                        <!--<input _ngcontent-c8="" name="myfile" type="file">-->
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row" style="text-align: left;">
                                <div  class="form-group-lg  col-lg-4">

                                    <label  class="control-label" style="color:#123C69;">First Name
                                          <span  style="color: tomato">*</span>
                                    </label>
                                    <input  class="form-control form-control-sm ng-untouched ng-pristine ng-valid" name="first_name" placeholder="" required="" type="text">

                                  </div>

                                <div  class="form-group-lg  col-lg-4">
                                    <label  class="control-label" style="color:#123C69;text-align: left;">Last Name
                                          <span  style="color: tomato">*</span>
                                    </label>
                                    <input class="form-control form-control-sm ng-untouched ng-pristine ng-valid" name="last_name" placeholder="" required="" type="text">
                                </div>
                                <div  class="form-group-lg col-lg-4">
                                    <label  class="control-label" style="color:#123C69;text-align: left;">Phone Number
                                          <span style="color: tomato">*</span>
                                    </label>
                                    <input  appjustnumber="" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" maxlength="14" name="phone" pattern="[(]{1}[0-9]{3}[)]{1}[ ][0-9]{3}[-][0-9]{4}" placeholder="" required="" type="text">
                                </div>
                            </div>

                            <div  class="Address">

                                <div  class="row" style="text-align: left">
                                    <div  class="form-group-lg col-lg-1" >
                                        <label  class="control-label" style="color:#123C69;">Address</label>
                                        <input  class="form-control form-control-sm ng-untouched ng-pristine ng-valid" name="adress2" placeholder="" type="text" style="width:285px">
                                    </div>
                                </div>
                                <div  class="row" style="text-align: left">
                                    <div  class="form-group-lg  col-md-6">
                                        <label  class="control-label" style="text-align: left;color:#123C69;">City
                                          <span  style="color: tomato">*</span>
                                        </label>
                                        <input class="form-control form-control-sm ng-untouched ng-pristine ng-valid" name="city" placeholder="" required="" type="text" style="width:285px">
                                    </div>
                                </div>
                                <div  class="row" style="text-align: left">
                                    <div  class="form-group-lg  col-md-6">
                                        <label  class="control-label" style="text-align: left;color:#123C69;">State
                                          <span  style="color: tomato">*</span>
                                        </label>
                                            <select class="form-control form-control-sm ng-untouched ng-pristine ng-valid" name="state">
                                            <!----><option  value="AL">
                                              Alabama
                                            </option><option  value="AK">
                                              Alaska
                                            </option><option  value="AZ">
                                              Arizona
                                            </option><option _ngcontent-c8="" value="AR">
                                              Arkansas
                                            </option><option _ngcontent-c8="" value="CA">
                                              California
                                            </option><option _ngcontent-c8="" value="CO">
                                              Colorado
                                            </option><option _ngcontent-c8="" value="CT">
                                              Connecticut
                                            </option><option _ngcontent-c8="" value="DE">
                                              Delaware
                                            </option><option _ngcontent-c8="" value="FL">
                                              Florida
                                            </option><option _ngcontent-c8="" value="GA">
                                              Georgia
                                            </option><option _ngcontent-c8="" value="HI">
                                              Hawaii
                                            </option><option _ngcontent-c8="" value="ID">
                                              Idaho
                                            </option><option _ngcontent-c8="" value="IL">
                                              Illinois
                                            </option><option _ngcontent-c8="" value="IN">
                                              Indiana
                                            </option><option _ngcontent-c8="" value="IA">
                                              Iowa
                                            </option><option _ngcontent-c8="" value="KS">
                                              Kansas
                                            </option><option _ngcontent-c8="" value="KY">
                                              Kentucky
                                            </option><option _ngcontent-c8="" value="LA">
                                              Louisiana
                                            </option><option _ngcontent-c8="" value="ME">
                                              Maine
                                            </option><option _ngcontent-c8="" value="MD">
                                              Maryland
                                            </option><option _ngcontent-c8="" value="MA">
                                              Massachusetts
                                            </option><option _ngcontent-c8="" value="MI">
                                              Michigan
                                            </option><option _ngcontent-c8="" value="MN">
                                              Minnesota
                                            </option><option _ngcontent-c8="" value="MS">
                                              Mississippi
                                            </option><option _ngcontent-c8="" value="MO">
                                              Missouri
                                            </option><option _ngcontent-c8="" value="MT">
                                              Montana
                                            </option><option _ngcontent-c8="" value="NE">
                                              Nebraska
                                            </option><option _ngcontent-c8="" value="NV">
                                              Nevada
                                            </option><option _ngcontent-c8="" value="NH">
                                              New Hampshire
                                            </option><option _ngcontent-c8="" value="NJ">
                                              New Jersey
                                            </option><option _ngcontent-c8="" value="NM">
                                              New Mexico
                                            </option><option _ngcontent-c8="" value="NY">
                                              New York
                                            </option><option _ngcontent-c8="" value="NC">
                                              North Carolina
                                            </option><option _ngcontent-c8="" value="ND">
                                              North Dakota
                                            </option><option _ngcontent-c8="" value="OH">
                                              Ohio
                                            </option><option _ngcontent-c8="" value="OK">
                                              Oklahoma
                                            </option><option _ngcontent-c8="" value="OR">
                                              Oregon
                                            </option><option _ngcontent-c8="" value="PA">
                                              Pennsylvania
                                            </option><option _ngcontent-c8="" value="RI">
                                              Rhode Island
                                            </option><option _ngcontent-c8="" value="SC">
                                              South Carolina
                                            </option><option _ngcontent-c8="" value="SD">
                                              South Dakota
                                            </option><option _ngcontent-c8="" value="TN">
                                              Tennessee
                                            </option><option _ngcontent-c8="" value="TX">
                                              Texas
                                            </option><option _ngcontent-c8="" value="UT">
                                              Utah
                                            </option><option _ngcontent-c8="" value="VT">
                                              Vermont
                                            </option><option _ngcontent-c8="" value="VA">
                                              Virginia
                                            </option><option _ngcontent-c8="" value="WA">
                                              Washington
                                            </option><option _ngcontent-c8="" value="WV">
                                              West Virginia
                                            </option><option _ngcontent-c8="" value="WI">
                                              Wisconsin
                                            </option><option _ngcontent-c8="" value="WY">
                                              Wyoming
                                            </option>
                                          </select>
                                    </div>
                                </div>
                                <div  class="row" style="text-align: left">
                                    <div  class="form-group-lg  col-md-6">
                                     <label  class="control-label" style="text-align: left;color:#123C69;">Zip Code
                                      <span  style="color: tomato">*</span>
                                    </label>
                                        <input  class="form-control form-control-sm ng-untouched ng-pristine ng-valid" name="zipCode" placeholder="" required="" type="text">
                                    </div>
                                </div>
                            </div>
                              <br>

                            <div  class="row" style="text-align: left">
                              <div  class="form-group-lg  col-md-8">
                                  <label  class="control-label" style="text-align: left;color: #123C69;">Email Address
                                    <span  style="color: tomato">*</span>
                                  </label>
                                  <input  class="form-control form-control-sm ng-untouched ng-pristine ng-valid" name="newMail" pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$" placeholder="" required="" type="email" style="width:285px">
                              </div>

                          </div>

                          <br>
                          <div  class="row" style="text-align: left">
                            <div  class="form-group-lg col-md-6">
                                <label  class="control-label" style="color: #123C69;text-align: left;">Current Password
                                <span  style="color: tomato">*</span>
                               </label>
                                <input class="form-control form-control-sm ng-untouched ng-pristine ng-invalid" name="Password" placeholder="***************" required="" type="password">

                            </div>
                        </div>
                        <div  class="row" style="text-align: left">
                            <div  class="form-group-lg col-md-6">
                                <label class="control-label" style="color: #123C69;text-align: left;">New Password
                                  <span  style="color: tomato">*</span>
                                </label>
                                <input  class="form-control form-control-sm ng-untouched ng-pristine ng-invalid" minlength="8" name="NewPassword" placeholder="" required="" type="password" value="">
                                <!---->
                                <!---->
                            </div>

                        </div>
                        <div _ class="row" style="text-align: left">
                            <div  class="form-group-lg col-md-6">
                                <label class="control-label" style="color: #123C69;text-align: left;">Password Confirmation
                                  <span  style="color: tomato">*</span>
                                </label>
                                <input  class="form-control form-control-sm ng-untouched ng-pristine ng-invalid" minlength="8" name="ConfirmPassword" placeholder="" required="" type="password">
                                <!---->
                                <!---->
                            </div>

                        </div>
                            <!---->
                        </form>
                    </div>

                  </div>


                  <br>
                  <br>
                          <div class="Btns pull-right"style="color:#123C69">
                            <button  class="btn btn-outline-info" style="color: #123C69;height: 40px;width: 80;" (click)="changeStatus()" [hidden]="!show">
                              <i  aria-hidden="true" class="fa fa-edit float-left" style="font-size:22px;color: #123C69;"></i>
                              Edit
                            </button>
                          </div>
                        </div>

                          <div  class="Btns pull-right" [hidden]="show" >
                              <div  class="d-flex flex-wrap" >
                                  <button  class="btn btn-sm btn-success m-1" style="font-size:15px;width: 140px; height: 40px;" >Save</button>

                                  <button  class="btn btn-sm btn-default btn-lg m-1" style="background-color: lightgray;width: 140px; height: 40px;">
                                    <i  aria-hidden="true" class="fa fa-ban " style="font-size:15px; "></i>
                                    Cancel
                                  </button>
                              </div>
                          </div>









