

        <td>{{element.drugTypeName}}</td>
        <td>{{element.drugFromName}}</td>
        <td>{{element.drugStrengthName}}</td>
        <td>{{element.size}}</td>
        <td>{{element.price}}</td>
        <td>
          <button routerLink="/pharmacist/Products/editElement/{{element.gpCode}}" role="button" class="btn btn-sm btn-outline-primary m-1"style="width:70px;height: 35px;;font-size:15px;" id="btnedit1">
            <i aria-hidden="true" class="fa fa-edit float-left" style="font-size:22px;"></i>
            Edit
          </button>
        </td>


















