
  <div class="manageUsersContent" style="transition: opacity 500ms ease-in-out 0s; opacity: 1;">
<div style="min-height: calc(100vh - 306px); padding-top: 38px;
padding-left: 5%;
padding-right: 6%;">

<div  class="row">
  <div  class="col-md-12">
      <a  class="btn-block" routerLink="">
          <i  aria-hidden="true" class="fa fa-arrow-left"></i> Dashboard
      </a>

       <h3>Manage Users</h3>

  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div  class="col-md-3">
          <div  class="form-group" style="text-align: left;">
              <label for="exampleSelect1">Search By </label>
              <select #searchSelect class="form-control form-control-sm ng-pristine ng-valid ng-touched"
              (change)="change($event.target.value)">
                  <option value=0>Search by</option>
                  <option  value=1>First Name</option>
                  <option  value=2>Last Name</option>
                  <option  value=3>Email</option>

              </select>
          </div>
        </div>
        <div  class="col-md-3">
          <div  class="form-group"  style="text-align: left;">
              <label >Search</label>
              <input #searchInput  [(ngModel)]='form.searchQuery' class="form-control form-control-sm ng-untouched ng-pristine ng-valid" id="searchInput" placeholder={{newPlacehold}} type="text">
          </div>
        </div>
        <div class="col-md-6">
          <div  class="form-group">
              <label ></label>
              <div  class="row">
                <div  class="col-lg-4 mt-md-1 mt-lg-4">
                  <button  class="btn btn-sm btn-success btn-block text-center" type="button"  (click)='find()'>
                    <i aria-hidden="true" class="fa fa-search"></i>
                      Find User
                  </button>
                </div>
                  <div  class="col-lg-4 mt-md-1 mt-lg-4">
                      <button  class="btn btn-sm btn-default btn-block text-center" style="background-color: lightgray;" type="button" >
                        <i  aria-hidden="true" class="fa fa-ban" ></i>
                          Cancel</button>

                  </div>
                  <div  class="col-lg-4 mt-md-1 mt-lg-4">
                      <button  routerLink="/pharmacist/addUser" class="btn btn-sm btn-info btn-block text-center" type="button" style="background-color:#4056A1;">
                        <i aria-hidden="true" class="fa fa-plus-square"></i>
                          Add User
                      </button>
                  </div>
              </div>
          </div>
      </div>



    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date of birth</th>
            <th>gender</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.dateOfBirth}}</td>
            <td>{{user.gender}}</td>
            <td>
              <label class="switch">
                <input type="checkbox" [checked]="user.actif==1">
                <span class="slider round"></span>
              </label>
            </td>
            <td>
              <button routerLink="/pharmacist/editUser/{{user.id}}" class="btn btn-sm btn-outline-primary m-1 " role="button" style="width:70px;height: 35px;;font-size:15px;" id="btnedit">
                <i  aria-hidden="true" class="fa fa-edit float-left" style="font-size:20px; padding-top: 3px; "></i>
                Edit
            </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <ul class="pagination d-flex justify-content-center" style="margin-top: 50px;">

      <li  class='page-item' >
        <button   (click)="backPage()" [disabled]="!visible" style="height: 33px; width: 33px;"> « </button>
      </li>
      <li  class='page-item'*ngFor='let page of numberPage; let i = index' ><button class="page-link" [ngStyle]="{'background-color':currentPage=== i+1 ? '#007bff' : 'white' }" style="height: 35px; width: 35px;">{{i+1}}</button>
      </li>
    <li  class='page-item'>
      <button  (click)="nextPage()" [disabled]="!disp">  » </button>
    </li>

    </ul>

  </div>



</div>
</div>
</div>
</div>












