<div *ngIf="isOpen" style="width: 250px" id="mySidenav" class="sidenav">

  <div class="contentLogo">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">
  <img class="styleLogo" src="https://scontent.fnbe1-1.fna.fbcdn.net/v/t1.15752-9/97181189_1237579269779108_6470808474161774592_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=XrJwO9IQmrsAX-8pLjQ&_nc_ht=scontent.fnbe1-1.fna&oh=e4c386abfb30cc78f183c2a45663a9ab&oe=5EE4203E&dl=1">
   &times;  </a>
  </div>

  <div class="menu">
  <a href="#"><img class="styleIcon" src="assets/images/Order.png"> List of Orders</a>
  <hr>
  <a href="#"><img class="styleIcon" src="assets/images/manageUsers.png">Manage Usres</a>
  <hr>
  <a href="#"><img class="styleIcon" src="assets/images/manageProducts.png">Manage Products</a>
  <hr>
  <a href="#"><img class="styleIcon" src="assets/images/userAccount1.png">My Account</a>
</div>
</div>

<span style="font-size:30px;cursor:pointer" (click)="openNav()">

  <img style="width: 80px; height:70px ; padding-left: 25px; margin-top: -9px; " src="https://i.ya-webdesign.com/images/hamburger-menu-icon-png-white-12.png"></span>
