<header>
<!--
  <div id="navbar">
    <img class="styleLogo" src="https://scontent.fnbe1-1.fna.fbcdn.net/v/t1.15752-9/97181189_1237579269779108_6470808474161774592_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=XrJwO9IQmrsAX-8pLjQ&_nc_ht=scontent.fnbe1-1.fna&oh=e4c386abfb30cc78f183c2a45663a9ab&oe=5EE4203E&dl=1">
    <a class="navMenu" href="#home">Home</a>
    <a class="navMenu" href="#news">News</a>
    <a class="navMenu" href="#contact">Contact</a>
  </div> -->
  <nav class="navbar navbar-expand-lg navbar-primary  fixed-top customBackground">
    <a class="navbar-brand" href="#"> <img class="styleLogo" src="https://scontent.fnbe1-1.fna.fbcdn.net/v/t1.15752-9/97181189_1237579269779108_6470808474161774592_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=XrJwO9IQmrsAX-8pLjQ&_nc_ht=scontent.fnbe1-1.fna&oh=e4c386abfb30cc78f183c2a45663a9ab&oe=5EE4203E&dl=1"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">Right</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
      </ul>
  </div>
  </nav>
  <div class="content">
    <h1>Specialty Veterinary Pharmacy <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services</h1>
    <h2>Personalized & Home Delivered</h2>
    <br>
    <span>Designed to work within your existing platforms for High-tech,
      <br>&nbsp;&nbsp;patient-centered management that enhances the patient’s experience<br>&nbsp; by providing improved patient care with measurable,
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; positive clinical outcomes.
    </span>

  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="white" points="0,100 100,0 100,100"/>
  </svg>
</header>


<app-body></app-body>

