<div class="footer">

    <div class="contact">

      <span class="contactHeader">CONTACT INFORMATION</span>
       <br>
       <br>
      <div class="contactInformation">
                <div class="contentContact">
                    <span class="phoneContact"><img src="assets/images/addressIcon.png" style="width: 25px;">
                      &nbsp;
                      <span class="styleContact"> ADDRESS<br>
                        <span class="address">  addresse1,rue22..
                        </span>
                      </span>
                    </span>

                    <br>
                    <hr class="trait">
                    <br>

                  <span class="phoneContact"><img src="assets/images/phoneLogo.png">
                    &nbsp;
                    <span class="styleContact"> PHONE<br>
                      <span class="address"> 859.281.9511
                      </span>
                    </span>
                  </span>

                  <br>
                  <hr class="trait">
                  <br>

                <span class="phoneContact"><img src="assets/images/emailLogo.png">
                  &nbsp;
                  <span class="styleContact"> EMAIL<br>
                    <span class="address"> yourmail.com
                    </span>
                  </span>
                </span>

                <br>
                <hr class="trait">
                <br>

                <span class="phoneContact"><img src="assets/images/hourWorking.png">
                  &nbsp;
                  <span class="styleContact"> WORKING DAYS/HOURS<br>
                    <span class="address">Mon-Sun/9:00AM-8:00PM
                    </span>
                  </span>
                </span>
         </div>
    </div>


<div class="information">
    <ul>
      <span class="informationHeader">MENU</span>
      <br>
      <br>
      <li >
        <a href="#" class="link">Services</a>
      </li>

      <li>
        <a href="#" class="link">Services</a>
      </li>

    <li>
        <a href="#" class="link">Services</a>
      </li>
    </ul>
</div>

<div class="followUs">
    <ul>
      <span class="informationHeader">FOLLOW US</span>
      <br>
      <br>

      <li>
        <a href="#" class="socialmedia"><img src="assets/images/facebookLogo.png"> &nbsp;&nbsp;FACEBOOK</a>
      </li>
      <br>
      <li>
        <a href="#" class="socialmedia"><img src="assets/images/twitterLogo.png">&nbsp;&nbsp;TWITTER</a>
      </li>
      <br>
      <li>
        <a href="#" class="socialmedia"><img class="styleLogo"src="assets/images/instagramLogo.png">&nbsp;&nbsp;INSTAGRAM</a>
      </li>
    </ul>
</div>

<div class="container">
<div class="logo">
  <img  src="https://scontent.fnbe1-1.fna.fbcdn.net/v/t1.15752-9/97181189_1237579269779108_6470808474161774592_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=XrJwO9IQmrsAX-8pLjQ&_nc_ht=scontent.fnbe1-1.fna&oh=e4c386abfb30cc78f183c2a45663a9ab&oe=5EE4203E&dl=1">
</div>
<br>
<div class="aboutUsContent">
  <p> <span class="aboutUsHeader">ABOUT US</span>
    <br>
    <br>
  <span class="aboutUsInfo">une description sur notre site <br>globalement en 2 ou 3 lignes <br>max</span>
  <p>
</div>
</div>

<hr class="traitdernier">

<div class="ensbCarte">

    <span>
      <div class="card">

      <img class="styleCarte1" src="assets/images/visaCarte.png">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img class="styleCarte2" src="assets/images/masterCard.png">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img class="styleCarte2" src="assets/images/americanExpressCard.png">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img class="styleCarte2" src="assets/images/disacoverCard.png">


    </div>
    </span>

    <span>
      <div class="cardeffect">

        <img class="styleCarte1effet" src="assets/images/visaCarte.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img class="styleCarte2effet" src="assets/images/masterCard.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img class="styleCarte2effet" src="assets/images/americanExpressCard.png">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img class="styleCarte2effet" src="assets/images/disacoverCard.png">

    </div>
  </span>


</div>
