.footer{
  bottom: 0;
  right: 0;
  left: 0;
  width  : 1310px;
  height: 500px;
  background-color:#D79922;
  margin-top: 200px;
  position: absolute;


}


/*************************************Contact Information**************************************/
.contact{
  margin-top: 60px;
}

.contactHeader{
  color: #faebd7;
  font-style: normal;
  font-size: 25px;
  padding-top: 80px;
  padding-left: 50px;
}


.phoneContact{
  margin-top: 20px;
  padding-left: 50px;

}

.emailContact{
  padding-left: 50px;
  padding-top: 20px;
}

.styleContact{
  font-size: 18px;
  color: aliceblue;
  font-style:normal;
  height: lighter;
}

.address{
  padding-left: 100px;
  font-size: 14px;
}

.trait{
  width:250px;
  float: left;
  margin-left: 57px;
}


/******************************************Menu********************************************/

.information{
  margin-left: 450px;
  margin-top: -315px;

}
.informationHeader{

  color: #faebd7;
  font-style: normal;
  font-size: 25px;

}
ul{
  list-style: none;
}
.link{
  font-size: 18px;
  margin-left: 2px;
  color: #faebd7;
  text-decoration: none;
}

/**********************************Follow us************************************************/
.followUs{
  margin-top: -245px;
  margin-right: 430px;
  float: right;
}

.socialmedia{
  font-size: 20px;
  margin-left: 2px;
  color: #faebd7;
  text-decoration: none;
  padding-top: 200px;
}
/************************************Logo and aboutUs***************************/

.container{
  float: right;
}
.logo{

  margin-top: -233px;
  margin-right: 40px;
  height: 40px;


 }


 .aboutUsHeader{
   font-style: normal;
   color: #faebd7;
   font-size: 25px;
   font-weight: 10px;
    padding-top: 30px;

 }

 .aboutUsInfo{
   color: #faebd7;
   font-style: italic;
   font-size: 18px;

 }

 .traitdernier{
   margin-top: 130px;
    margin-right: -100px;
   width:822px
 }

 /**********************************les cartes***************************/

 .cardeffect{
    margin-top: -30px;
 }
 .styleCarte1{
    margin-left: 600px;
    margin-top: -15px;
    width:90px;
    height: 90px;

 }

 .styleCarte1effet{
  margin-left: 600px;
  margin-top: -300px;
  width:90px;
  height: 90px;
  transform: scaleX(-1);
  opacity: .1;
 }

 .styleCarte2{
  width:90px;
  height: 90px;
 }

 .styleCarte2effet{
  width:90px;
  height: 90px;
  transform: scaleX(-1);
  opacity: .1;
 }








