<div class="addProductContent" style="transition: opacity 500ms ease-in-out 0s; opacity: 1;">

<div style="min-height: calc(100vh - 306px); padding-top: 38px;
padding-left: 5%;
padding-right: 6%;">
  <div  class="row">
    <div  class="col-md-12">
        <a  class="btn-block" routerLink="">
            <i  aria-hidden="true" class="fa fa-arrow-left"></i> Dashboard
        </a>

        <a  class="btn-block" routerLink="/pharmacist/Products">
          <i  aria-hidden="true" class="fa fa-arrow-left"></i> Back to manage products
      </a>
    </div>
</div>
<br>
<div class="row">
  <div  class="col-md-2"></div>
  <div  class="col-md-12">
    <h2 >New Product</h2>

</div>
</div>

<div [hidden]="!error" class="alert alert-danger">{{error}}</div>

<form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <div  class="row"style="margin-top: 20px; ">
      <div  class="form-group col-lg-4 col-md-5">
          <label  class="control-label">Product Name
              <span  style="color: tomato">*</span>
          </label>
          <input type="text" class="form-control" formControlName="drugName" placeholder="Product Name"
          [ngClass]="{'is-invalid':submitted && (f.drugName.errors || (errors && errors.drugName))}" [(ngModel)]="Product.drugName">
          <div *ngIf="submitted && f.drugName.errors" class="invalid-feedback">
            <div *ngIf ="f.drugName.errors.required">
              Drug name is required
            </div>
         </div>

        <div *ngIf="errors && errors.drugName" class="invalid-feedback">
         <div *ngFor="let errorMessage of errors.drugName" >
          {{errorMessage}}
        </div>
      </div>

      </div>
      <div  class="form-group col-lg-4 col-md-5">
          <label  class="control-label">Trade Name
              <span  style="color: tomato">*</span>
          </label>
          <input type="text" class="form-control" formControlName="drugTradeName" placeholder="Trade Name"
          [ngClass]="{'is-invalid':submitted && (f.drugTradeName.errors||(errors && errors.drugTradeName))}"
           [(ngModel)]="Product.drugTradeName">
          <div *ngIf="submitted && f.drugTradeName.errors" class="invalid-feedback">
            <div *ngIf ="f.drugTradeName.errors.required">
              Drug name is required
            </div>
         </div>
         <div *ngIf="errors && errors.drugTradeName" class="invalid-feedback">
          <div *ngFor="let errorMessage of errors.drugTradeName" >
           {{errorMessage}}
         </div>
       </div>

      </div>


    </div>

<br>
<div class="pull-right col-lg-9 ">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  <button class="btn btn-sm btn-success m-1" style="font-size: 15px;width: 140px; height: 40px;">
    <i class="fa fa-floppy-o" aria-hidden="true" style="font-size: 20px;"></i>
    Save
  </button>
</div>
</form>
</div>
</div>
