<div class="sid-nav-content">

  <div   id="mySidenav" class="sidenav">

    <div class="contentLogo">
    <img class="styleLogo" src="../../../assets/images/MedInstitueLogoWhite.png">
    </div>

    <div class="menu">

    <a routerLink="pharmacist/orders"><img class="styleIcon" src="../../../assets/images/Order.png"> List of Orders</a>
    <hr>

    <a routerLink="pharmacists/Users" ><img class="styleIcon" src="assets/images/manageUsers.png">Manage Usres</a>

    <hr>
    <a routerLink="pharmacist/Products"><img class="styleIcon" src="assets/images/manageProducts.png">Manage Products</a>
    <hr>
    <a routerLink="pharmacist/MyAcount"><img class="styleIcon" src="assets/images/userAccount1.png">My Account</a>
  </div>
  </div>
</div>
